body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
    margin-top: 30px;
}

.wheel-container {
    position: relative;
    width: 400px;
    margin: auto;
}

canvas {
    border-radius: 50%;
    background: white;
}

.pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}